@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>
            Latest Articles
        </h2>
    </div>
</div>

    <div class="container text-center mt-4">
   
        <div class="row">

            <div class="col-8">

                <!-- Add the shadow class to the card -->
                <div class="card p-4 shadow">
                    <img src="~/images/logo-sm.png" alt="logo" class="auth-logo img-fluid">
                    <div class="card-body">
                        <!-- Add spacing classes to push content inside -->
                        <h3 class="mb-4">
                            Is it Ethical to Travel Now? With that Freedom Comes Responsibility.
                        </h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 mx-auto">
                        <div class="card p-4 shadow" style="width: 18rem;">
                            <img src="~/images/logo-sm.png" alt="logo" class="auth-logo img-fluid">
                            <div class="card-body">
                                <h5 class="mb-4">
                                    Gaurab Shrestha
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="card p-4 shadow" style="width: 18rem;">
                            <img src="~/images/logo-sm.png" alt="logo" class="auth-logo img-fluid">
                            <div class="card-body">
                                <h5 class="mb-4">
                                    Gaurab Shrestha
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-4 shadow">
                    <img src="~/images/logo-sm.png" alt="logo" class="auth-logo img-fluid">
                    <div class="card-body">
                        <!-- Add spacing classes to push content inside -->
                        <h5 class="mb-4">
                            Gaurab Shrestha
                        </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



