@using KushalBlogWebApp.Data.Common.Paging;
@using KushalBlogWebApp.Data.Model
@model PagedResponse<AdminBlogModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">

                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Admin Blog</a></li>
                            <li class="breadcrumb-item active">Blog List</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto" style="margin-bottom: 10px;">
                        <div class="col-auto align-self-center">
                            <div class="general-label">
                                <form id="FormBlogFilter" class="row row-cols-lg-auto align-items-center">
                                    <div class="col-md-6">
                                        <label class="col-form-label" for="blogHeaderFilter">Blog Header</label>
                                        <div class="input-group">
                                            <textarea name="BlogHeader" type="text" class="form-control" placeholder="Blog Header" id="blogHeaderFilter"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label" for="blogBodyFilter">Blog Body</label>
                                        <div class="input-group">
                                            <textarea name="BlogBody" type="text" class="form-control" placeholder="Blog Body" id="blogBodyFilter"></textarea>
                                        </div>
                                    </div>     
                                    <div class="col-md-6">
                                        <label class="col-form-label" for="writtenBy">Written By</label>
                                        <div class="input-group">
                                            <textarea name="WrittenBy" type="text" class="form-control" placeholder="Written By" id="writtenBy"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="col-form-label" for="actionButton">Action</label>
                                        <div class="input-group">
                                            <button id="btnBlogFilter" type="button" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!--end col-->
                    </div>
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">List of Posts</h4>
                        </div>
                        <!--end col-->
                        <div class="col-auto">
                            <div class="add-btn">
                                <a style="cursor:pointer" onclick="ShowPopUp('@Url.Action("SavePost","AdminBlog")','Add New Post')" class="btn btn-primary btn-shadow-2 btn-sm text-light">
                                    <i class="fa fa-solid fa-plus"></i>Add Post

                                </a>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <partial name="_PaginationHeader" />
                    <div id="AdminBlogIndex" class="table-responsive">
                        <partial name="_AdminBlogIndex" />
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->




</div><!-- container -->

<script src="~/js/admin.pagination.js"></script>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Initialize pagination settings object
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("Index", "AdminBlog")',
                selector: '#AdminBlogIndex'
            });

            // attach 'before' event handler to 'Pagination' object to get all field parameters for pagination
            $(Pagination).on('before', function (e) {
                e.preventDefault();
                { debugger }
                var usersFilterFormValues = $('#FormBlogFilter').serializeArray();
                $.each(usersFilterFormValues, function (i, obj) {
                    e.payload.paramsBuilder.addParameter(obj['name'], obj['value']);
                });

                e.payload.paramsBuilder.addParameters(getPaginationFieldParams());
            });

            addUsersPageHandlers();
            addPaginationHandlers();
            function addUsersPageHandlers() {
                debugger;
                /* Custom Handlers */
                $('#FormBlogFilter').on('submit', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                })

                $('#btnBlogFilter').on('click', function (e) {
                    e.preventDefault();
                    Pagination.getData();
                    return false;
                });

            }

        });

        function changeStatus(Id, PinnedStatus) {
            debugger;
            $.ajax({
                url: '@Url.Action("UpdatePinnedStatus", "AdminBlog")',
                type: 'POST',
                data: {
                    Id: Id,
                    PinnedStatus: PinnedStatus
                },
                success: function (result) {
                    // Handle the success response
                    // Example: Display a success message or perform additional actions

                    Pagination.getData();
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    // Example: Display an error message or perform error handling
                    alert('Error: ' + error);
                }
            });


        }
    </script>
}